<!DOCTYPE html>
<html>
    <script>

        // Redirect to the load page after 3 seconds

        setTimeout(function() {

            window.location.href = '/load';

        }, 3000);

    </script>
<body>



<object data="pdf-test.pdf"  width="100%" height="800"></object>

</body>
</html>
